[submodule "tmux/.tmux/plugins/tmux-mighty-scroll"]
	path = tmux/.tmux/plugins/tmux-mighty-scroll
	url = https://git::@github.com/noscript/tmux-mighty-scroll
[submodule "tmux/.tmux/plugins/treemux"]
	path = tmux/.tmux/plugins/treemux
	url = https://git::@github.com/kiyoon/treemux
[submodule "tmux/.tmux/plugins/tmux-continuum"]
	path = tmux/.tmux/plugins/tmux-continuum
	url = https://git::@github.com/tmux-plugins/tmux-continuum
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://git::@github.com/tmux-plugins/tmux-sensible
[submodule "tmux/.tmux/plugins/tmux-net-speed"]
	path = tmux/.tmux/plugins/tmux-net-speed
	url = https://git::@github.com/wfxr/tmux-net-speed
[submodule "tmux/.tmux/plugins/tmux-battery"]
	path = tmux/.tmux/plugins/tmux-battery
	url = https://git::@github.com/tmux-plugins/tmux-battery
[submodule "tmux/.tmux/plugins/tmux-resurrect"]
	path = tmux/.tmux/plugins/tmux-resurrect
	url = https://git::@github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/.tmux/plugins/tmux-kanagawa"]
	path = tmux/.tmux/plugins/tmux-kanagawa
	url = https://git::@github.com/Nybkox/tmux-kanagawa
[submodule "tmux/.tmux/plugins/vim-tmux-navigator"]
	path = tmux/.tmux/plugins/vim-tmux-navigator
	url = https://git::@github.com/christoomey/vim-tmux-navigator
[submodule "tmux/.tmux/plugins/tmux-gruvbox"]
	path = tmux/.tmux/plugins/tmux-gruvbox
	url = https://git::@github.com/egel/tmux-gruvbox
[submodule "tmux/.tmux/plugins/tmux-power"]
	path = tmux/.tmux/plugins/tmux-power
	url = https://git::@github.com/wfxr/tmux-power
